:root {
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --main-text-color: #757575;
  --second-text-color: #ffffff;
  --accent-color: #188ce8;
  --main-btn-color: #2196f3;
  --header-text-color: #212121;
  --projects-list-gap: 30px;
}
