.benefits {
  display: flex;
  /* margin: 94px auto; */
}

.benefits__list {
  display: flex;
}

.benefits__item {
  width: 270px;
  min-height: 251px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.benefits__thumb {
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}

.benefits__title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-text-color);
  margin-bottom: 10px;
}

.benefits__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
