.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.514);
  cursor: not-allowed;
  pointer-events: visible;
}

.modal {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 530px;
  min-height: 581px;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  cursor: auto;
  z-index: 2;
}

.modal__title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  margin-bottom: 12px;
  /* margin-top: 40px; */
}

.modal__input {
  margin-bottom: 10px;
}

.modal__lable {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
  margin-bottom: 5px;
  /* padding-top: 10px; */
  display: block;
}

.modal-input-field {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  padding-right: 12px;
  transition: border-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
  &:focus + .modal-input-icon {
    border-color: #2196f3;
    fill: #2196f3;
  }
}

.modal-comment-field {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  transition: border-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1) background-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}

::-webkit-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  opacity: 1;
  transition: opacity 0.3s ease;
}

:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

::-moz-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  opacity: 1;
  transition: opacity 0.3s ease;
}

:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.modal-input-wrap {
  position: relative;
}

.modal-input-icon {
  fill: var(--header-text-color);
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-field:focus,
.modal-comment-field:focus {
  border-color: #2196f3;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.modal-close__btn {
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover .modal-close__icon {
    fill: #2196f3;
    cursor: pointer;
  }
}

.modal-checkbox {
  appearance: none;
  &:checked + .checkbox-text {
    .checkbox-item {
      background-color: var(--accent-color);
      border: none;
    }
  }
}

.checkbox-item {
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: relative; */
}

.checkbox-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.policy-link {
  color: var(--main-btn-color);
}
.modal-btn {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  min-width: 200px;
  min-height: 50px;
  display: block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin: 0 auto;
  transition: border-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
  }
}

.is-hidden {
  visibility: none;
  opacity: 0;
  pointer-events: none;
}
